$color-orange: #D87D4A;
$color-orange-light: #FBAF85;
$color-black: #000000;
$color-gray: #F1F1F1;
$color-gray-light: #FAFAFA;
$color-white: #FFFFFF;


$color-primary: $color-orange;
$color-primary-variant: $color-orange-light;
$color-secondary: $color-black;
$color-helper: $color-gray;
$color-helper-variant: $color-gray-light;