footer {
    @include flex(row,center);
    background-color: #101010;
    grid-area: f;
    padding-bottom: 2.5rem;
}
#nav {
    border: 0;
    padding-top: 4.8rem;
}
#foo-nav-first-item {
    padding-inline: 1rem;
    a{
        @include font(1.5rem, 18px, #FFFFFF);
        list-style-type: none;
        font-size: 1.5rem;
        text-decoration: none;
    }
}
#footer-ul {
    justify-content: end;
}
// .footer-section {
//     @extend .header-section;
//     height: auto;
// }


.footer-section {
    margin-top: 2rem;
    padding-inline: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    flex: 1;
}

.section-text {
    grid-column: 1/2;
    grid-row: 1/2;
    @include flex(column);
    @include font(15px, 25px, rgb(136, 133, 133));
    margin-block: 1.5rem;
    font-weight: 500;
    flex: 1;
    height: 100%;
    padding-left: 5px;
}
.foo-span {
    @include font(15px, 25px, rgb(136, 133, 133));
    margin-block: 1.5rem;
    font-weight: 500;
    flex: 1;
    padding-left: 5px;
    padding-bottom: 0;
    grid-column: 1/2;
    grid-row: 2/3;
    height: auto;
}

.footer-icons {
    @include flex(row, stretch, center);
    grid-column: 2/-1;
    grid-row: 1/3;

    .nav-list {
        justify-content: end;
        align-self: center;
    }

    img {
        &:hover {
            filter: brightness(0) saturate(100%) invert(58%) sepia(51%) saturate(624%) hue-rotate(334deg)
              brightness(89%) contrast(89%);
        }      
    }
}
// .section-text {
//     @include flex(column);
//     @include font(15px, 25px, rgb(136, 133, 133));
//     margin-block: 1.5rem;
//     font-weight: 500;
//     flex: 1;
//     height: 100%;
//     padding-left: 5px;
// }
// .section-text {
//     span {
//         padding-top: 3.5rem;
//     }
// }
// .footer-icons {
//     flex: 1;

//     .nav-list {
//         justify-content: end;
//     }
// }
@media only screen and (max-width: 990px) {
    #nav {
        @include flex(column, space-between, start);
        height: auto;
        width: 100%;
        padding-top: 3.8rem;
    }
    #foo-nav-first-item{
        align-self: start;
    }
    #footer-ul {
        justify-content: start;
        padding-top: 2rem;
    }
    .section-text {

        grid-column: 1/3;
        grid-row: 1/2;
    }

    .foo-span {
            // padding-top: 3.5rem;
            grid-column:1/2;
            grid-row: 2/3;
    }

    .footer-icons {
        grid-column: 2/3;
        flex: 1;
        grid-row: 2/3;
    }    
}

@media only screen and (max-width: 480px) {
    #nav {
        @include flex(column, space-between, start);
        height: auto;
        width: 100%;
        padding-top: 3.1rem;
    }
    #foo-nav-first-item{
        align-self: center;
    }
    #footer-ul {
        justify-content: start;
        padding-top: 2rem;
    }
    .section-text {
        text-align: center;
        grid-column: 1/-1;
        grid-row: 1/2;
    }

    .foo-span {
        text-align: center;
            grid-column: 1/-1;
            grid-row: 2/3;
    }

    .footer-icons {
        grid-column: 1/-1;
        flex: 1;
        grid-row: 3/4;

        .nav-list {
            @include flex(row, center, center);
            justify-content: center;
        }
    } 
    
    .nav-list {
        @include flex(column, center, center);
    }
}