button {
    cursor: pointer;
}

@keyframes change {
    0%   { margin-bottom:-1.875rem;}
    100% {  margin-bottom: 0rem;}
}

button:active {
    transform: translate(5px, 10px);
}

.btn {
    @include font(0.813rem, 1.125rem, $color-white);
    width: 10rem;
    height: 3rem;
    border: none;
    background-color: $color-primary;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 1.375rem;

    &:hover {
        cursor: pointer;
        background-color: $color-primary-variant;
    }

    &--transfarent {
        color: $color-secondary;
        background-color: transparent;
        border: 1px solid $color-secondary;

        &:hover {
            background-color: $color-secondary;
            color: $color-white;
        }
    }

    &--black {

        background-color: $color-secondary;
        &:hover {
            border: 1px solid $color-secondary;
            background-color: transparent;
        }
    }

    &_checkout {
        width: 100%;
    }
}
