.display-absolute {
    position: absolute;
    top: 7.125rem;
    right: 1.5rem;
    z-index: 21;
}

.hide {
    display: none;
}
.cart-title {
    @include flex(row, space-between, center);

    p {
        @include font(0.875rem, 1,125rem);
        text-decoration-line: underline;
        mix-blend-mode: normal;
        opacity: 0.5;
    }
}

.quantity-btn {
    @include btn-number;
}
