@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Manrope:wght@200;300;500;800&display=swap');

// @import '/abstracts/mixins';

.summary {
    @include flex(column);
    flex: 1;
    height: 612px;
    background-color: #FFFFFF;
    border-radius: 0.5rem;
    border: 1px solid #FFFFFF;
    gap: 2rem;
    padding-inline: 1.5rem;
    padding-block: 1rem;
}
.summary h3 {
    @include font(18px, 25px, #000000);
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}
.summary-item {
    @include flex(row, start);
    width: 100%;
    height: 62px;
    gap: 2.5rem;
}

.summary-item-img {
    width: 64px;
    height: 64px;
}
.summary-item-info {
    /* width: 60%; */
    @include flex(row, space-between, center);
    @include font(15px, 25px, #000000);
    flex: 1;
}
.summary-item-info {
    span h3{
        margin-bottom: 0.5vh;
    }
} 

.summary-item-info {
    span{
        p {
            margin-top: 0.5vh;
            font-size: 14px;
            mix-blend-mode: normal;
            opacity: 0.5;
        }
    } 
}
.summary-p {
    margin-top: -3rem;
    text-align: right;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.summary-item-img 
{
    img{
        border-radius: 5px;
        max-width: 100%;
        height: auto;
    }
}

.payment-info {
    margin-top: 0.5rem;
    @include flex(column);
    gap: 1.5vw;
}

.payment-info-list {
    @include flex(column);
    gap: 0.5vw;
}

.payment-info-list-item {
    /* padding-block: 0.5vw; */
    @include flex(row, space-between);
    @include font(15px, 25px, #000000);
    text-transform: uppercase;
}

.payment-info-list-item  {
    small {
        font-weight: bold;
        font-size: 18px;   
        text-align: right; 
    }
}

.payment-info-list-item {
    p {
        font-weight: 500;
        font-size: 15px;
        mix-blend-mode: normal;
        opacity: 0.5;
    }
} 

.total {
    margin-top: 0.4rem;
}

.summary{
    button {
        @include font(13px, 18px, #FFFFFF);
        width: 100%;
        height: 3rem;
        background-color: #D87D4A;
        border: 0;
        text-align: center;
        letter-spacing: 1px;
    }
}
