input {
    outline: none;
}
main {
    background-color: #FAFAFA;
}
.main-root {
    width: 100%;
    margin-block: 12.5rem;
    display: flex;
    gap: 3.125rem;

}
h2 {
    @include font(2rem, 2.25rem);
    letter-spacing: 1.14286px;
    text-transform: uppercase;
}

.main-form {
    @include flex(column, space-evenly);
    background-color: #FFFFFF;
    border-radius: 0.5rem;
    border: 1px solid #FFFFFF;
    flex: 2;
    display: flex;
    padding: 1rem;
        
    input:active {    
        border: 1px solid #D87D4A;
    }

    input:focus {    
        border: 2px solid #D87D4A;
    }
}
.biling-details, .shoping-info, .payment-details {  
    grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
}

fieldset {
    padding-top: 1rem;
    margin-top: 2.6rem;
    border: 0;
    display: grid;
    grid-auto-rows: 81px;
    column-gap: 1rem;
    row-gap: 1.5rem;
}
.biling-details  input,  
.shoping-info  input,
 #eMoney-number, 
 #eMoney-pin{
    margin-top: 0.5rem;
    width: 100%;
    height:  3.5rem;
    padding-left: 2rem;
    border-radius: 5px;
    border: 1px solid #CFCFCF;

    &:focus {
        border: 2px solid #D87D4A;
        // background-color: aqua;
    }
}



::-webkit-input-placeholder {
    @include font(0.875rem, 1.188);
    mix-blend-mode: normal;
    opacity: 0.4;
    // padding-left: 2rem;
}

.input-addres {
    grid-column: 1/-1;
}

// .shoping-info {
//     grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
// } 
 
.input-e-money, .input-cash {
    @include font;
    @include flex(row, stretch, center);
    padding-left: 0.5rem;
    height:  3.5rem;
    border-radius: 5px;
    border: 1px solid #CFCFCF;
    background-color: #FFFFFF;
}

.payment-details {
    // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-areas: 
    'h i1'
    '. i2'
    'i3 i4'
    ;
}

.payment-details h6 {
    grid-area: h;
}
.input-e-money {
    grid-area: i1;
}
.input-cash {
    margin-top: -1rem;
    grid-area: i2;
}

.input-eMoney-number {
    grid-area: i3;
}

.input-eMoney-pin {
    grid-area: i4;
}

@media only screen and (max-width: 30em) {
    .payment-details {
        grid-template-areas:
            'h'
            'i1'
            'i2'
            'i3'
            'i4'
        ;
    }

}
legend {
    @include font(13px, 25px, #D87D4A);
    font-family: 'Manrope', sans-serif;    
    letter-spacing: 0.928571px;
    text-transform: uppercase;
}

label {
    @include font(12px, 1rem, #000000);
    letter-spacing: -0.214286px;
}


@media only screen and (max-width: 62em) {
    .main-root {
      flex-direction: column;
    }

    .biling-details, .shoping-info, .payment-details {  
        grid-template-columns: repeat(auto-fit, minmax(20.5rem, 1fr));
    }
}

@media only screen and (max-width: 48em) {
    .biling-details, .shoping-info, .payment-details {  
        grid-template-columns: repeat(auto-fit, minmax(14.5rem, 1fr));
    }
}